<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ws="http://jax-ws.dev.java.net/spring/core"
    xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
          http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd">

    <import resource="classpath:crs-api-config.xml" />

    <wss:binding url="/CRSAuthenticationService">
        <wss:service>
            <ws:service bean="#CRSAuthenticationServiceProxy" />
        </wss:service>
    </wss:binding>

    <wss:binding url="/CRSResellerAppService">
        <wss:service>
            <ws:service bean="#CRSResellerServiceProxy" />
        </wss:service>
    </wss:binding>

    <wss:binding url="/CRSDomainAppService">
        <wss:service>
            <ws:service bean="#CRSDomainAppServiceProxy" />
        </wss:service>
    </wss:binding>

    <wss:binding url="/CRSDocumentAppService">
        <wss:service>
            <ws:service bean="#CRSDocumentAppServiceProxy" />
        </wss:service>
    </wss:binding>

    <wss:binding url="/CRSEmailDisablerAppService">
        <wss:service>
            <ws:service bean="#CRSEmailDisablerAppServiceProxy" />
        </wss:service>
    </wss:binding>

    <wss:binding url="/CRSNicHandleAppService">
        <wss:service>
            <ws:service bean="#CRSNicHandleAppServiceProxy" />
        </wss:service>
    </wss:binding>

    <wss:binding url="/CRSTicketAppService">
        <wss:service>
            <ws:service bean="#CRSTicketAppServiceProxy" />
        </wss:service>
    </wss:binding>

    <wss:binding url="/CRSPermissionsAppService">
        <wss:service>
            <ws:service bean="#CRSPermissionsAppServiceProxy" />
        </wss:service>
    </wss:binding>

    <wss:binding url="/CRSPaymentAppService">
        <wss:service>
            <ws:service bean="#CRSPaymentAppServiceProxy" />
        </wss:service>
    </wss:binding>

    <wss:binding url="/CRSCommonAppService">
        <wss:service>
            <ws:service bean="#CRSCommonAppServiceProxy" />
        </wss:service>
    </wss:binding>

    <wss:binding url="/CRSZoneAppService">
        <wss:service>
            <ws:service bean="#CRSZoneAppServiceProxy" />
        </wss:service>
    </wss:binding>

    <wss:binding url="/CRSInfo">
        <wss:service>
            <ws:service bean="#CRSInfoProxy" />
        </wss:service>
    </wss:binding>

    <wss:binding url="/CRSSecondaryMarketAppService">
        <wss:service>
            <ws:service bean="#CRSSecondaryMarketAppServiceProxy" />
        </wss:service>
    </wss:binding>
</beans>