# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):

src/crs-core/APPENDER*.log
src/crs-core/PermissionsReport.txt
src/crs-core-xml/src/main/java
src/crs-iedr-api-commands/src/main/java
src/crs-console/src/main/www/yii

src/crs-api-client/src/main/ClientClassConfig.php
src/crs-api-client/src/test/testSuite/db.php
