/* Styles for decorating table rows for locking service reports */
table.result tr.missing_locking_renewal {
    background: #e8a0a0;
}

table.result tr.too_far_in_future td {
    /* CRS-922
  color: #cdcfcd;
  */
}

table.result tr.overdue td {
    color: #dd7777;
}

.syncColumn {
    width: 160px;
}

.lockingDateSelector {
    width: 160px;
    cursor: pointer;
    border: none;
}

.lockingDateSelector div {
    float: left;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
    width: 50%;
    background: #CBE4C8;
    color: #829280;
}

.lockrenewaldate-sync .lockrenewaldate-sync-select, .lockrenewaldate-1yr .lockrenewaldate-1yr-select
    {
    background: #618848;
    color: white;
    text-shadow: 0 0 5px #65ea56;
}