.field-label .tooltip-icon {
    float: right;
    margin-right: 7px;
}

.tooltip {
    border: 1px solid #bfbfbf;
    padding: 7px;
    background: #fcfcd6;
    width: inherit;
}

.tooltip .idn-tooltip-info {
    text-align: justify;
    margin: 0;
}

.tooltip .idn-tooltip-punycode {
    text-align: center;
    margin: 0.5em 0 0 0;
}

.tooltip .pending-domain-names {
    color: #c72222;
}
